<div class="main">
	<div class="container">
		
		<div class="row">
			<h1>Contact Us</h1>
			<div [hidden]="hasBeenSubmitted">
				<form (ngSubmit)="register(ContactForm, $event)" #contactForm="ngForm" novalidate class="contact-us col-sm-5 col-xs-12 no-padding">
					<div class="group">
						<label for="contactname">Name:</label>
						<input id="contactname" type="text" name="model.contactname" [(ngModel)]="model.contactname" required placeholder="Your Name...">
					</div>
					<div class="group">
						<label for="contactemail">Email:</label>
						<input id="contactemail" type="email" name="model.contactemail" [(ngModel)]="model.contactemail" required placeholder="Your Email..." pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$">
					</div>
					<div class="group-message">
						<label for="contactmessage">Message:</label>
						<textarea id="contactmessage" type="text" name="model.contactmessage" placeholder="Your text..." [(ngModel)]="model.contactmessage" required></textarea>
					</div>
					<button type="submit">Send message</button>
				</form>
			</div>
		</div>
		<div [hidden]="!hasBeenSubmitted">
			<h2>Thank you for the message {{model.contactname}}.</h2></div>
	</div>
	
	<div class="newsletter">
		<div class="container no-padding">
			<div class="newsletter-content">
				<h2>Sign up for exclusive sales and product news</h2>
				<div class="signup clearfix">
					<input type="email" name="email" placeholder="Lorem@ipsum.com">
					<button type="submit">Sign up</button>
				</div>
			</div>
		</div>
	</div>
</div><!--main -->