@import url("https://fonts.googleapis.com/css?family=PT+Sans");
body {
  font-family: "Arial", sans-serif;
  font-size: 14px; }

/*
	Header Nav
*/
.top-header {
  margin: 0;
  padding: 28px 0;
  border-bottom: 1px solid #c7c7c7;
  color: #7e7f84;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center; }

.header-logo {
  padding: 0; }

.top-info {
  padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: flex-end; }
  .top-info p {
    margin: 0; }

.top-item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: 8px 20px 8px 0; }
  .top-item:last-child {
    margin-right: 0; }

.basket {
  background-color: #ededed;
  padding: 8px 20px;
  letter-spacing: 0.07em; }

#top-nav {
  color: #7e7f84; }
  #top-nav ul {
    list-style-type: none;
    padding: 0; }
    #top-nav ul li {
      float: left;
      margin-right: 60px; }
    #top-nav ul .icon {
      display: none; }

.first-item {
  color: #f45a40; }

.double-border {
  border-bottom: 7px solid #f45a40;
  position: relative; }
  .double-border:before {
    position: absolute;
    content: " ";
    border-bottom: 2px solid #f45a40;
    bottom: -11px;
    width: 100%;
    z-index: 3; }

/*
	Footer
*/
footer {
  background-color: #2a2d34;
  padding-top: 25px;
  padding-bottom: 40px; }
  footer .social-icons img {
    height: 18px;
    width: auto;
    margin-right: 20px; }
  footer h2 {
    margin-top: 0;
    color: #fff; }
  footer h4 {
    color: #fff;
    text-transform: none;
    margin-bottom: 0;
    margin-top: 10px; }
  footer p {
    margin-top: 0;
    line-height: 21px; }
  footer ul {
    list-style-type: none;
    color: #7e7f84;
    margin: 0;
    padding: 0;
    width: 50%;
    float: left; }

.footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.footer-column-1 {
  width: 370px; }

.footer-column-2 {
  width: 400px;
  padding-right: 100px; }

.footer-column-3 {
  width: 400px; }

/*
	Fonts
*/
p {
  font-family: "Arial", sans-serif;
  color: #7e7f84; }

h1, h2, h3, h4, h5 {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #67686d; }

span {
  font-family: "Arial", sans-serif; }

button {
  background-color: #f45a40;
  color: #fff;
  border: 0;
  font-family: "Arial", sans-serif;
  letter-spacing: 0.07em;
  padding: 15px 20px;
  outline-style: none;
  text-transform: uppercase; }
  button:focus {
    box-shadow: 2px 2px 4px rgba(237, 237, 237, 0.5); }

input {
  padding: 14px 24px;
  font-size: 14px;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  color: #7e7f84;
  letter-spacing: 0.07em;
  border-right: 1px solid #7e7f84;
  border-left: 1px solid #7e7f84;
  border-bottom: 1px solid #7e7f84;
  border-top: 1px solid #7e7f84; }
  input:focus {
    outline: none; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

label {
  font-family: "Arial", sans-serif;
  font-weight: 800;
  font-size: 20px;
  color: #7e7f84;
  letter-spacing: 0.07em;
  display: block; }

select {
  border-right: 1px solid #7e7f84;
  border-left: 1px solid #7e7f84;
  border-bottom: 1px solid #7e7f84;
  border-top: 1px solid #7e7f84;
  background-color: #fff;
  border-radius: 0;
  -webkit-appearance: none;
  font-size: 20px;
  letter-spacing: 0.07em;
  font-family: "Arial", sans-serif;
  color: #7e7f84;
  padding: 15px 10px; }
  select:focus {
    outline: none; }

ins {
  color: #f45a40;
  text-decoration: none; }

@media (min-width: 768px) {
  .no-padding {
    padding: 0; } }

.no-padding-left {
  padding-left: 0; }

.no-padding-right {
  padding-right: 0; }

.margin-bottom {
  margin-bottom: 30px; }

.margin-top {
  margin-top: 27px; }

/*
	Frontpage
*/
.front-img {
  background-image: url("../img/image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 658px;
  position: relative;
  margin-bottom: 90px; }

.textbox-back {
  background-color: rgba(0, 0, 0, 0.6);
  height: 297px;
  width: 45%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.super-textbox {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translatey(-50%);
  padding-top: 20px;
  padding-bottom: 20px; }
  .super-textbox h1 {
    margin: 0;
    font-size: 60px;
    line-height: 64px;
    color: #fff; }
  .super-textbox h3 {
    font-size: 14px;
    line-height: 23px;
    margin-bottom: 20px;
    color: #fff;
    text-transform: none;
    padding-right: 10px; }

.img-dots {
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translatex(-50%); }
  .img-dots img {
    height: 14px; }

.item-wrap h3 {
  font-size: 22px;
  color: #f45a40; }

.item-wrap img {
  width: 100%; }

.border-text {
  text-align: center;
  font-size: 22px;
  color: #67686d;
  position: relative; }
  .border-text:before {
    content: "";
    position: absolute;
    border-bottom: 1px solid #eeeeee;
    width: 155px;
    top: 50%;
    left: 26%; }
  .border-text:after {
    content: "";
    position: absolute;
    border-bottom: 1px solid #eeeeee;
    width: 155px;
    top: 50%;
    left: 61%; }

.product-wrap button {
  width: 100%;
  padding: 10px 20px; }

.product-wrap .product-img {
  padding: 53px 10px;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  position: relative; }

.star-group {
  position: absolute;
  top: 0; }
  .star-group img {
    width: 13px;
    height: 13px; }

.product-text {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 22px; }
  .product-text h3 {
    margin-top: 0;
    margin-bottom: 11px; }
  .product-text h4 {
    margin-top: 0;
    margin-bottom: 9px; }
  .product-text p {
    margin-top: 0;
    margin-bottom: 12px;
    padding-bottom: 11px;
    border-bottom: 1px solid #eeeeee; }
  .product-text img {
    float: right;
    padding-left: 8px; }

.newsletter {
  margin-top: 4px;
  background-color: #f45a40; }

.newsletter-content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between; }
  .newsletter-content h2 {
    color: #fff;
    margin: 0; }
  .newsletter-content button {
    background-color: #ff674f;
    margin-left: 20px; }
  .newsletter-content input {
    width: 247px;
    border: 0; }

.product-big-img {
  border-top: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding: 10px;
  text-align: center; }

.product-img-group {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between; }

.product-small-img {
  border-top: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  margin: 15px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center; }
  .product-small-img:first-child {
    margin-left: 0; }
  .product-small-img:last-child {
    margin-right: 0; }

.img-selected {
  border-top: 1px solid #f45a40;
  border-right: 1px solid #f45a40;
  border-bottom: 1px solid #f45a40;
  border-left: 1px solid #f45a40; }

.product-info-top strong {
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 0.07em;
  color: #000; }

.product-info-top .product-info-price {
  text-align: right; }

.product-info-top .price {
  margin-bottom: 18px; }

.product-info-top p {
  margin: 0; }

.product-info-top del {
  color: #7e7f84;
  font-size: 24px;
  line-height: 24px; }

.product-info-top em {
  font-size: 20px;
  line-height: 24px; }

.product-select {
  margin-top: 57px;
  margin-bottom: 40px; }

.product-select-size {
  float: left;
  width: 70%; }
  .product-select-size select {
    width: 100%; }

.product-select-amount {
  float: right;
  text-align: right;
  width: 20%; }
  .product-select-amount input {
    width: 100px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 0.07em;
    font-weight: 800; }

.add-to-basket {
  font-weight: 800;
  font-size: 28px;
  padding: 18px 65px;
  float: right; }

.tabs-menu {
  margin-bottom: 0;
  list-style-type: none; }

.tabs-menu li {
  background-color: #f2f1f1;
  font-size: 24px;
  line-height: 28px;
  display: inline-block;
  padding: 30px 35px 20px;
  margin-right: 10px;
  z-index: -1;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-radius: 9px 9px 0 0; }

.tabs-menu li.current {
  position: relative;
  background-color: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #fff;
  z-index: 100;
  margin-bottom: -1px; }
  .tabs-menu li.current:before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-top: 9px solid #f45a40;
    border-radius: 9px 9px 0 0;
    margin-right: 0; }

.tabs-menu li a {
  color: #7e7f84;
  text-decoration: none; }

.tabs-menu .current {
  border-top: 0; }

.tab {
  border-top: 1px solid #ccc;
  background-color: #fff;
  margin-bottom: 20px;
  width: auto; }

.tab-content {
  display: none;
  margin-top: 20px; }
  .tab-content p {
    font-size: 16px; }

#tab-1 {
  display: block; }

.group {
  height: 60px; }
  .group label {
    font-weight: 400;
    display: inline-block; }
  .group input {
    float: right;
    text-transform: none;
    width: 70%; }
    .group input::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      text-transform: uppercase; }
    .group input::-moz-placeholder {
      /* Firefox 19+ */
      text-transform: uppercase; }
    .group input:-ms-input-placeholder {
      /* IE 10+ */
      text-transform: uppercase; }
    .group input::-ms-input-placeholder {
      /* IE 10+ */
      text-transform: uppercase; }
    .group input:-moz-placeholder {
      /* Firefox 18- */
      text-transform: uppercase; }
  .group-message label {
    font-weight: 400; }
  .group-message input {
    width: 100%;
    min-height: 110px;
    text-transform: none; }
    .group-message input::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      vertical-align: top;
      text-transform: uppercase; }
    .group-message input::-moz-placeholder {
      /* Firefox 19+ */
      vertical-align: top;
      text-transform: uppercase; }
    .group-message input:-ms-input-placeholder {
      /* IE 10+ */
      vertical-align: top;
      text-transform: uppercase; }
    .group-message input::-ms-input-placeholder {
      /* IE 10+ */
      vertical-align: top;
      text-transform: uppercase; }
    .group-message input:-moz-placeholder {
      /* Firefox 18- */
      vertical-align: top;
      text-transform: uppercase; }

.contact-us button {
  margin-top: 14px;
  margin-bottom: 35px; }

/*
  Responsive Header
*/
@media (max-width: 767px) {
  .top-header {
    padding: 10px 0;
    color: #f45a40;
    display: block; }
  .header-logo {
    display: flex;
    justify-content: space-between; }
    .header-logo a {
      display: flex;
      justify-content: flex-end;
      align-items: center; }
    .header-logo img {
      width: 280px; }
  .top-info {
    display: block; }
    .top-info p {
      margin: 0; }
  .side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px; }
    .side-nav:before {
      position: absolute;
      content: " ";
      border-left: 2px solid #f45a40;
      left: 10px;
      top: 0;
      height: 100%;
      z-index: 10; }
    .side-nav:after {
      border-left: 7px solid #f45a40;
      left: 0;
      top: 0;
      height: 100%;
      z-index: 10;
      position: absolute;
      content: " "; }
    .side-nav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #f45a40;
      display: block;
      transition: 0.3s; }
    .side-nav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px; }
  .togglebtn {
    float: right; } }

/*
  Responsive Newsletter
*/
@media (max-width: 767px) {
  .newsletter-content {
    display: block;
    margin-bottom: 15px;
    margin-top: 15px;
    height: auto; }
    .newsletter-content h2 {
      margin: 0 0 10px;
      text-align: center; }
    .newsletter-content button {
      float: right; }
    .newsletter-content input {
      width: 60%;
      border: 0;
      float: left; } }

/*
  Responsive Footer
*/
@media (max-width: 767px) {
  .footer {
    flex-direction: column;
    margin-right: 0;
    margin-left: 0; }
  .footer-column-1 {
    width: 100%;
    margin-bottom: 15px;
    order: 2; }
  .footer-column-2 {
    width: 100%;
    order: 1; }
  .footer-column-3 {
    width: 100%;
    order: 1;
    margin-bottom: 15px; } }

/*
  Front Page Image
*/
@media (max-width: 767px) {
  .front-img {
    height: 95vh;
    position: relative;
    margin-bottom: 30px; }
  .textbox-back {
    height: 60%;
    width: 90%; }
  .super-textbox h1 {
    font-size: 40px;
    line-height: 54px; }
  .super-textbox .text-wrap {
    padding-left: 0; }
  .img-dots {
    bottom: 10%; } }

/*
  Responsive Frontpage Content
*/
@media (max-width: 767px) {
  .item-wrap h3 {
    font-size: 22px;
    color: #f45a40;
    margin: 10px 0; }
  .item-wrap p {
    margin-top: 0; }
  .border-text:before {
    border: none; }
  .border-text:after {
    border: none; }
  .product-wrap {
    margin-bottom: 20px; }
    .product-wrap .product-img {
      padding: 20px 10px; }
    .product-wrap .product-thumb {
      width: 100%; }
  .product-text {
    padding: 10px; }
    .product-text h3 {
      margin-bottom: 5px; }
    .product-text h4 {
      margin-bottom: 0; }
    .product-text p {
      margin-bottom: 10px;
      padding-bottom: 10px; } }

/*
  Responsive Product Page
*/
@media (max-width: 767px) {
  .product-big-img img {
    width: 70%; }
  .product-img-group img {
    width: 100%; }
  .product-info-top h2 {
    margin-bottom: 10px; }
  .product-info-top strong {
    font-size: 28px; }
  .product-info-top .price {
    margin-bottom: 0; }
  .product-info-top del {
    font-size: 22px; }
  .product-info-top em {
    font-size: 18px; }
  .product-select {
    margin-top: 10px;
    margin-bottom: 20px; }
  .product-select-size {
    float: none;
    width: 100%; }
    .product-select-size select {
      width: 100%;
      margin-bottom: 10px; }
  .product-select-amount {
    float: none;
    text-align: left;
    width: 100%; }
    .product-select-amount input {
      width: 150px; }
  .add-to-basket {
    font-size: 22px;
    padding: 12px 30px;
    float: none;
    width: 100%; }
  .tabs-menu {
    clear: both;
    margin-bottom: 0;
    list-style-type: none; }
  .tabs-menu li {
    background-color: #f2f1f1;
    font-size: 16px;
    line-height: 20px;
    display: inline-block;
    padding: 15px 15px 15px;
    margin-right: 5px;
    z-index: -1;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-radius: 9px 9px 0 0; }
  .tabs-menu li.current {
    position: relative;
    background-color: #fff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #fff;
    z-index: 100;
    margin-bottom: -1px; }
    .tabs-menu li.current:before {
      position: absolute;
      content: '';
      display: block;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-top: 9px solid #f45a40;
      border-radius: 9px 9px 0 0;
      margin-right: 0; }
  .tabs-menu li a {
    color: #7e7f84;
    text-decoration: none; }
  .tabs-menu .current {
    border-top: 0; }
  .tab {
    border-top: 1px solid #ccc;
    background-color: #fff;
    margin-bottom: 20px;
    width: auto; }
  .tab-content {
    display: none;
    margin-top: 20px; }
    .tab-content p {
      font-size: 16px; }
  #tab-1 {
    display: block; } }
